In [1]:
import pandas as pd
import numpy as np
np.seterr(divide='ignore', invalid='ignore')
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder # Label encoder
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelBinarizer

label_binarizer = LabelBinarizer()


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn import model_selection
# from scipy.stats import zscore

from sklearn.model_selection import KFold
from imblearn.pipeline import pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.feature_selection import SelectFromModel


labelencoder = LabelEncoder()

In [3]:
fund_config = pd.read_csv('fund_config.csv')
fund_ratios = pd.read_csv('fund_ratios.csv', thousands=',')
bond_ratings = pd.read_csv('bond_ratings.csv', thousands=',')
fund_allocations = pd.read_csv('fund_allocations.csv', thousands=',') # ID
fund_specs = pd.read_csv('fund_specs.csv', thousands=',')
other_specs = pd.read_csv('other_specs.csv', thousands=',')
return_3year = pd.read_csv('return_3year.csv', thousands=',')
return_5year = pd.read_csv('return_5year.csv', thousands=',')
return_10year = pd.read_csv('return_10year.csv', thousands=',')
fund_allocations.rename(columns={'id': 'tag'}, inplace=True)

data = fund_config.merge(fund_ratios, on='fund_id' )
data = data.merge(bond_ratings, on='tag')
data = data.merge(fund_allocations, on='tag')
data = data.merge(fund_specs, on='tag')
data = data.merge(other_specs, on='tag')
data = data.merge(return_3year, on='tag')
data = data.merge(return_5year, on='tag')
data = data.merge(return_10year, on='fund_id')

data['greatstone_rating'] = data.apply(
    lambda row: row['greatstone_rating_y'],
    axis=1
)

data.drop(['greatstone_rating_x', 'greatstone_rating_y', 'tag'], axis=1, inplace=True)

test_data = pd.DataFrame(data[data['greatstone_rating'].isnull()])

data.drop(data[data['greatstone_rating'].isnull()].index.tolist(), inplace=True, axis=0)

data.greatstone_rating.replace({0: 1}, inplace=True)

data = data.reset_index(drop=True)

# # dropping rows which has more than 50 null value
# null_values_indexs = []
# for i in range(len(data.index)) :
#     if data.iloc[i].isnull().sum() > 30 :
#         # print("Nan in row ", i , " : " ,  data.iloc[i].isnull().sum())
#         null_values_indexs.append(i)
        
# print(f'\nDroping rows: {len(null_values_indexs)}')
# print(f'\nDroping rows: {null_values_indexs}')
# data.drop(null_values_indexs, inplace=True)

In [ ]:
# missing_df = data.isnull().sum(axis=0).reset_index()
# missing_df.columns = ['column_name', 'missing_count']
# missing_df = missing_df.loc[missing_df['missing_count']>0]
# missing_df = missing_df.sort_values(by='missing_count')

# ind = np.arange(missing_df.shape[0])
# width = 0.9
# fig, ax = plt.subplots(figsize=(12,30))
# rects = ax.barh(ind, missing_df.missing_count.values, color='blue')
# ax.set_yticks(ind)
# ax.set_yticklabels(missing_df.column_name.values, rotation='horizontal')
# ax.set_xlabel("Count of missing values")
# ax.set_title("Number of missing values in each column")
# plt.show()

In [4]:
categorical_features = data.select_dtypes(include=['object']).columns
categorical_features

Index(['category', 'parent_company', 'fund_id', 'fund_name',
       'investment_class', 'currency', 'inception_date', 'fund_size'],
      dtype='object')

In [5]:
# data.drop(['category', 'parent_company', 'fund_id', 'fund_name', 'currency', 'inception_date'], axis=1, inplace=True)

cols_to_drop = ['parent_company', 'fund_id', 'fund_name', 'currency', 'inception_date']

In [6]:
# outliers_handling
def outliers_handling(cols):
    cols = pd.DataFrame(cols)
    Q1 = cols.quantile(0.25)
    Q3 = cols.quantile(0.75)
    IQR = Q3 - Q1
    # print(IQR)

    # Replace every outlier on the lower side by the lower whisker
    for i, j in zip(np.where(cols < Q1 - 1.5 * IQR)[0], np.where(cols < Q1 - 1.5 * IQR)[1]): 

        whisker  = Q1 - 1.5 * IQR
        cols.iloc[i,j] = whisker[j]


    #Replace every outlier on the upper side by the upper whisker    
    for i, j in zip(np.where(cols > Q3 + 1.5 * IQR)[0], np.where(cols > Q3 + 1.5 * IQR)[1]):

        whisker  = Q3 + 1.5 * IQR
        cols.iloc[i,j] = whisker[j]
        
    return cols

data.total_assets = outliers_handling(data.total_assets)

In [636]:
data.drop()

X = data.drop('greatstone_rating', axis=1)
y = data.greatstone_rating
y = label_binarizer.fit_transform(y)

numeric_features = X.select_dtypes(include=['int64', 'float64']).columns
categorical_features = X.select_dtypes(include=['object']).columns

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])

categorical_features = data.select_dtypes(include=['object']).columns
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('drop_columns', 'drop', cols_to_drop),
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)])

In [637]:
rfc= RandomForestClassifier(n_estimators = 200, random_state=1, max_depth=30, criterion='entropy', class_weight='balanced') 
#max_leaf_nodes=30

# Append classifier to preprocessing pipeline.
# Now we have a full prediction pipeline.
# https://scikit-learn.org/stable/modules/feature_selection.html
clf = Pipeline(steps=[
                        ('preprocessor', preprocessor),
                        ('feature_selection', SelectFromModel(RandomForestClassifier(), threshold=0.003 )),
                        ('classifier', rfc)
                    ])

# clf = Pipeline(steps=[('preprocessor', preprocessor),
#                       ('classifier', rfc)])

In [638]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [639]:
kfold = KFold(n_splits=10, random_state=1, shuffle=True )

rfcl_cross_val_score = model_selection.cross_val_score(clf, X_train, y_train, cv=kfold, scoring='average_precision')

print(rfcl_cross_val_score)

print(rfcl_cross_val_score.mean())

print(rfcl_cross_val_score.std())

[0.88871525 0.87250891 0.88042614 0.86640645 0.87172923 0.87105631
 0.865111   0.86782889 0.85798928 0.86385526]
0.8705626715710366
0.008305086378923555

In [640]:
clf.fit(X_train, y_train)

print("Train data model score: %.3f" % clf.score(X_train, y_train))
print("Test data model score: %.3f" % clf.score(X_test, y_test))

Train data model score: 1.000
Test data model score: 0.711

In [641]:
y_pred = clf.predict(X_test)
print("model score: %.3f" % metrics.precision_score(y_test, y_pred, average='micro'))

model score: 0.841

In [648]:
print(label_binarizer.inverse_transform(y_test))
print(label_binarizer.inverse_transform(y_pred))

[1. 3. 1. ... 5. 3. 1.]
[1. 3. 1. ... 5. 1. 1.]

In [642]:
fund_ids = test_data.fund_id
test_data_copy = test_data.copy()
test_data.drop(['greatstone_rating'], axis=1, inplace=True)

In [649]:
y_test_data_pred = clf.predict(test_data)
y_test_data_pred

array([[0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 1, 0, 0, 0],
       ...,
       [0, 0, 1, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0]])

In [650]:
predicted = label_binarizer.inverse_transform(y_test_data_pred)

In [651]:
submission = pd.DataFrame({'fund_id': fund_ids, 'greatstone_rating': predicted})

submission

                                    fund_id  greatstone_rating
0      264614c6-5ac3-4146-ba26-1674b136cb40                2.0
7      08702e4f-c5bb-4f0a-b63b-f9e4a0eb2425                4.0
16     cf56db43-046b-49d0-b8f0-90fe9cf8aacf                2.0
24     3faa81fc-9640-43d0-8b68-e5b06c65bfe6                3.0
28     09e24f3d-7191-4207-887c-98f31c6b59d2                3.0
...                                     ...                ...
24983  fc278788-24bf-4844-a538-d8c67d47275c                3.0
24992  0a3c101f-c969-4e85-8395-3dc3e33dd3d6                4.0
24996  12fc8949-6563-4dd4-a7cc-0400131fa6ab                3.0
24998  65421547-1407-4c50-92dc-e1cb1e9972dd                2.0
24999  e0284aeb-630a-4499-8745-2a9abba49528                2.0

[5000 rows x 2 columns]

In [652]:
submission.to_csv('submission_file.csv', index=False)

In [653]:
sub = pd.read_csv('data/sample_submission.csv')

In [685]:
newdf = pd.DataFrame()
for i in range(len(sub)) :
    fund_id = sub.loc[i, "fund_id"]
    greatstone_rating = submission.loc[submission[submission['fund_id'] == fund_id].index.to_list()[0], "greatstone_rating"]
#     print(fund_id)
#     print(submission[submission['fund_id'] == fund_id].index.to_list())
#     greatstone_rating = submission[submission['fund_id'] == fund_id]["greatstone_rating"]
#     print(fund_id, submission[submission['fund_id'] == fund_id]["greatstone_rating"])
    newdf = newdf.append({'fund_id': fund_id, 'greatstone_rating': greatstone_rating}, ignore_index=True)
# #     modDfObj = dfObj.append(pd.Series(['Raju', 21, 'Bangalore', 'India'], index=dfObj.columns ), ignore_index=True)

In [686]:
newdf

                                   fund_id  greatstone_rating
0     85a6edf9-db47-490c-981a-168ce90434bb                4.0
1     654dac08-5e5d-4cf0-870e-3167087de7d2                2.0
2     75214019-f876-42a9-a316-328b759ac4ba                1.0
3     1fe8de6d-cd33-489e-a829-211f1f622eed                1.0
4     bd87a7a0-6ca5-4607-a0cf-d396ecd6037a                3.0
...                                    ...                ...
4995  cd0a6c98-3d60-4548-a9db-493d80702107                4.0
4996  5a824843-621b-469f-a7d3-bae5b78beece                2.0
4997  acb8601f-bb42-4fe3-9823-c124d38cfc82                4.0
4998  e3f00c88-98d9-4a44-930c-891513652f8a                4.0
4999  ef6f6819-2879-41c3-9736-ab1bf4d97869                4.0

[5000 rows x 2 columns]

In [688]:
newdf.to_csv('submission_file.csv', index=False)